# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# Environment
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Firebase
firebase-credentials.json




*.md

# files with test in the name
test_*.py

# data/records folder
data/records/RGR.txt
data/backup/out*
data/backup/out_last_try/
data/records/